<!DOCTYPE html>
<html lang="pt" th:replace="~{layout :: layout}">
  <main th:fragment="content">
    <div class="container">
      <a class="text-dark" href="/semestres/cadastrar" role="button">
        <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
        <span>Cadastrar</span>
      </a>
      <hr class="mb-5" />

      <h3>Semestres</h3>
      <div class="table-responsive">
        <table class="table table-striped table-hover table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Ano</th>
              <th>Início</th>
              <th>Fim</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="semestre : ${semestres}">
              <td th:text="${semestre.id}"></td>
              <td th:text="${semestre.ano}"></td>
              <td th:text="${semestre.inicio}"></td>
              <td th:text="${semestre.fim}"></td>
              <td colspan="2">
                <a
                  class="btn btn-info btn-sm"
                  th:href="@{/semestres/editar/{id} (id=${semestre.id})}"
                  role="button"
                >
                  <span
                    class="oi oi-pencil"
                    title="Editar"
                    aria-hidden="true"
                  ></span>
                </a>

                <a
                  class="btn btn-danger btn-sm"
                  th:href="@{/semestres/excluir/{id} (id=${semestre.id})} "
                  role="button"
                >
                  <span
                    class="oi oi-trash"
                    title="Excluir"
                    aria-hidden="true"
                  ></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</html>
