<!DOCTYPE html>
<html lang="pt" th:replace="~{layout :: layout}">
  <main th:fragment="content">
    <div class="container">
      <a class="text-dark" href="/alunos/cadastrar" role="button">
        <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
        <span>Cadastrar</span>
      </a>
      <hr class="mb-5" />

      <h3>Alunos</h3>
      <div class="table-responsive">
        <table class="table table-striped table-hover table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>CPF</th>
              <th>Matrícula</th>
              <th>E-mail</th>
              <th>Idade</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="aluno : ${alunos}">
              <td th:text="${aluno.id}"></td>
              <td th:text="${aluno.nome}"></td>
              <td th:text="${aluno.cpf}"></td>
              <td th:text="${aluno.matricula}"></td>
              <td th:text="${aluno.email}"></td>
              <td th:text="${aluno.idade != 0} ? ${aluno.idade} : ''"></td>
              <td colspan="2">
                <a
                  class="btn btn-info btn-sm"
                  th:href="@{/alunos/editar/{id} (id=${aluno.id})}"
                  role="button"
                >
                  <span
                    class="oi oi-pencil"
                    title="Editar"
                    aria-hidden="true"
                  ></span>
                </a>

                <a
                  class="btn btn-danger btn-sm"
                  th:href="@{/alunos/excluir/{id} (id=${aluno.id})} "
                  role="button"
                >
                  <span
                    class="oi oi-trash"
                    title="Excluir"
                    aria-hidden="true"
                  ></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</html>
