<!DOCTYPE html>
<html lang="pt" th:replace="~{layout :: layout}">
  <main th:fragment="content">
    <div class="container" id="form-cadastro">
      <a class="text-dark" href="/alunos/listar" role="button">
        <span
          class="oi oi-spreadsheet"
          title="Cadastro"
          aria-hidden="true"
        ></span>
        <span>Listar Alunos</span>
      </a>
      <hr class="mb-5" />

      <h3>Aluno</h3>

      <form
        th:action=" ${aluno.id == null} ? @{/alunos/salvar} : @{/alunos/editar}"
        method="POST"
        th:object="${aluno}"
      >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="nome">Nome do Aluno</label>
            <input
              type="text"
              class="form-control"
              id="nome"
              placeholder="Nome Completo"
              th:field="*{nome}"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="email">E-mail</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="E-mail"
              th:field="*{email}"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="matricula">Matrícula</label>
            <input
              type="text"
              class="form-control"
              id="matricula"
              placeholder="Matrícula"
              th:field="*{matricula}"
            />
          </div>
        </div>
        <input type="hidden" th:field="*{id}" />
        <button type="submit" class="btn btn-warning btn-md mt-3">
          <span class="oi oi-check" title="Cadastro" aria-hidden="true"></span>
          Salvar
        </button>
      </form>
    </div>
  </main>
</html>
